/*面板*/
.panel-wrapper {
    display: flex; justify-content: center; align-content: center;
    height: 100%;
    background-color: rgba(105, 85, 56, 0.38);
}

.panel {
    position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%);
    border: 1px solid #dddddd;
    padding: 30px;
    background-color: #DEDEDE;
    border-radius: 6px;
    box-shadow: 0 0 10px #999;
    width: 350px;
}

/*面板头部*/
.panel .panel-top {
    font-size: 13px;
    font-family: Arial;
    font-weight: normal;
    text-align: center;
    padding: 10px 0;
    width: 280px;
    margin: 0 auto;
}

/*面板中间*/
.panel .panel-content {
    margin-top: 20px;
}

.panel .panel-content .int {
    height: 36px;
    margin-bottom: 9px;
    position: relative;
}

.panel .panel-content label {
    position: absolute;
    top: 7px;
    left: 6px;
}

.panel .panel-content .int input {
    width: 100%;
    height: 100%;
    border: 1px solid #dddddd;
    padding-left: 40px;
    /*输入框不超出设置的最大容器*/
    box-sizing: border-box;
    border-radius: 6px;
}

.panel .panel-content input:focus {
    /*取消边框*/
    outline: none;
    border: 1px solid orangered;
    box-shadow: 0 0 2px orangered;
}

.panel .panel-content .pwd-login a {
    display: inline-block;
    color: gray;
    font-size: 13px;
}

.panel .panel-content .pwd-login {
    width: 260px;
    height: 30px;
    line-height: 30px;
}

.panel .panel-content .setting {
    background-color: red;
}

.panel .panel-content .setting .forget-pwd {
    float: right;
}

.panel .panel-content .setting .auto-login {
    float: left;
    text-decoration: none;
}

.panel .panel-content .pwd-login input {
    /*设置行内块级标签*/
    display: inline-block;
    width: 18px;
    float: left;
}

.panel .login button {
    margin-top: 20px;
    width: 100%;
    height: 33px;
    border: 0;
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
    border-radius: 6px;
    background-color: orangered;
}

.panel .reg {
    height: 30px;
    line-height: 30px;
    font-size: 13px;
}

.panel .reg a {
    color: orangered;
    text-decoration: none;
    margin-left: 5px;
}

.panel .panel-footer {
    height: 40px;
    line-height: 40px;
}

.panel .panel-footer img {
    /*设置图片居中*/
    vertical-align: middle;
}

.panel .panel-footer span {
    /*设置文字垂直居中*/
    vertical-align: middle;
}